#fstblock{
    display: grid;
    grid-template-columns: 50% 50% ;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    /* grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px; */
  }

  #img1 {
    width: 92%;
    height: 63%;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%)
  }

  h1{
    color: whitesmoke;
  }
  